html,
body {
	height: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.body {
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 14px;
	color: $text-color;
	background-color: $main-bg;
	&--block {
		overflow: hidden;
	}
}

.main {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
	row-gap: 50px;
}

.footer {
	flex: 0 0 auto;
}

.container{
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
	min-width: 196px;
	min-height: 43px;
	font-size: 14px;
	color: #fff;
	background-color: $light-green;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	&:hover,
	&:focus {
		background-color: #00D29F;
	}
}

@media (min-width: 768px) {
	.main {
		row-gap: 100px;
	}
}
